* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkblue;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	background-color: salmon;
	border: 3px solid white;
	box-sizing: content-box;
}

.cell {
	width: 60px;
	height: 60px;
	border: 3px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.even.clicked {
	background-color: aqua;
}

.odd.clicked {
	background-color: brown;
}